*{
    /* Định nghĩa rem  */
    font-size: 16px; /* --> 1rem = 16px */
    font-family: 'Hind', sans-serif;
}
/* Header */
.header{
    position: absolute;
    z-index: 99;
    /* left: 50%;
    transform: translateX(-50%); */
    top: 0;
    left: 0;
    right: 0;
}

.navbar-toggler{
    padding: 0.25rem 0.75rem;
    background-color: #35a22c;
}

.navbar-toggler:hover{
    background-color: #0ea8cf;
    outline: none;
}

.header .navbar-dark .navbar-toggler{
    outline: none;
}

.navbar-toggler-icon{
    width: 30px;
    height: 30px;
    color: #fff;
}

.navbar-brand i{
    color: #35a22c;
}

.navbar-brand span{
    /* font-size: 2rem; */
    font-size: 36px;
}

.menu li{
    position: relative;
    
}

.menu li.active a {
    color: #35a22c !important;
} 

.menu li a{
    color: #fff !important;
    transition: all .5s;
}

.menu li:hover a{
    color: #35a22c !important;
}


.menu li::after{
    content: "";
    background-color: #35a22c;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s;
    /* display: inline-block; */
}

.menu li:hover:after{
    width: 100%;

}

.menu li.active::after{
    width: 100%;
}

/* Carousel */
.carousel-inner .carousel-item:nth-child(1),
.carousel-inner .carousel-item:nth-child(2),
.carousel-inner .carousel-item:nth-child(3)
{
    background-image: url(../img/finland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Chiều cao tương đối 100% vh theo từng màn hình */
    height: 100vh;
}
.carousel-inner .carousel-item{
    position: relative;
}

.carousel-inner .carousel-item .overplay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background-color: rgba(39,43,54,.5);
    height: 100%;
}

.carousel-inner .carousel-item:nth-child(2){
    background-image: url(../img/mountains.jpg);
  
}

.carousel-indicators{
    bottom: 10%;
}

.carousel-indicators .active{
    background-color: #35a22c;
}

.carousel-inner .carousel-item:nth-child(3){
    background-image: url(../img/mountains-1.jpg);
    
}

.carousel-thumb{
    width: 150px;
    margin: 0 auto;
}

.carousel-item .carousel-caption .carousel-thumb img{
    /* width: 140px; */
    border-radius: 50%;
}

.carousel-item .carousel-caption h5{
    font-size: 3.5rem;
    margin-bottom: 8px;
}

.carousel-item .carousel-caption p{
    font-size: 24px;
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

.carousel-indicators li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

/* Project */
#project{
    padding: 60px 0;
}

#project .title {
    max-width: 750px;
    margin: 0 auto;
}

#project .title h1{
    font-weight: 600;
    font-size: 36px;
}

#project .title p{
    margin: 16px 0;
}

#project .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #35a22c;
    border-color: #35a22c;
    color: #fff;
}

#project .project_content .nav-item a{
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin-right: 10px;
}

#project .project_content .tab-content .tab-pane .row .card{
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%) ;
}

#project .project_content .card{
    cursor: pointer;
}

#project .project_content .card .card-body{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid transparent;
    padding: 27px 20px;
    
    transition: all .5s;
}

#project .project_content .card:hover .card-body{
    border: 1px solid #35a22c;
    border-top-color: transparent;

}

#project .project_content .card .card-body .card-title{
    font-size: 20px;
    font-weight: 400;
}

#project .project_content .card:hover .card-body .card-title{
    color: #35a22c;
}

#project .project_content .card .card-body .card-text{
    color: #585858;
}



/* Service */
#service{
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    /* height: 712px; */
    position: relative;
}



#service .overplay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(7,10,12,.72);
}

#service .title{
    text-align: center;
    color: #fff;
    position: relative;
    max-width: 750px;
    margin: 0 auto;
}

#service .title h1{
    font-size: 36px;
    font-weight: bold;
}

#service .title p{
    margin: 16px 0;
}


#service .service-content{
    margin-top: 48px;
}

#service .service-content .card{
    border-radius: 10px;
    background-color: rgba(255,255,255,.1);
    color: #fff;
    border: 1px solid rgba(255,255,255,.1);
    text-align: center;
    transition: all .5s;
    backdrop-filter: blur(3px);
}

#service .service-content .card:hover{
    background-color: #000;
    border-color: #fff;
}

#service .service-content .card-body{
    padding: 55px 40px;
}

#service .service-content .card-body i{
    font-size: 48px;
    color: #35a22c;
}

#service .service-content .card-body h4{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 800;
}

#service .service-content .card-body p{
    margin-top: 24px;
}

/* Education */
#education{
    position: relative;
    padding: 70px 0;

}

#education .education_bg{
    background-image: url(../img/memphis_3.png);
    background-position: bottom left;
    background-size: 50% auto;
    background-repeat: no-repeat;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#education .card{
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    background-color: #ffffff52;
    backdrop-filter: blur(3px);

}

#education .card-body{
    padding: 55px 46px;
}

#education .card-body h4{
    font-size: 36px;
    color: #1a1d2d;
    font-weight: bold;
}

#education .card-body .card-text{
    color: #585858;
}

#education .col-right-wrap{
    padding: 45px 0;
}

#education .col-right-wrap span{
    color: #585858;
}

/* Footer */
#footer{
    background-color: #222;
    
}

#footer a{
    color: #aaa;
    text-decoration: none;
}
#footer a i{
    width: 42px;
    height: 42px;
    border: 1px solid #454545;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .5s;
}

#footer a:nth-child(5) i{
    margin-right: 0;
}

#footer a:hover i{
    color: #35a22c;
    border: 1px solid #35a22c;
}

#footer hr{
    margin: 30px 0;
    border-top: 1px solid #454545;
}

#footer p{
    color: #aaa;
    margin: 0;
}

#footer p>a:hover{
    color: #35a22c;
}


